# Ignore 
node_modules/
github_sshkey
github_sshkey.pub
Backend/db_credentials.js

# Ignore .env files for environment variables
.env

# Ignore build directory
build/

# Ignore all .log files
*.log

# Ignore OS-specific files (Mac)
.DS_Store